.page {
    background-color: red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.horse {
    position: absolute;
    left: 400px;
    top: 400px;
    width: 380.5px;
    height: 250px;
}

.obstacle {
    position: absolute;
    left: 100px;
    top: 100px;
}

#scoreboard {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: pink;
    color: black;
    border: 4px solid purple;
    padding: 5px;
    width: 100px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}